<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-autowire="byName">
  <bean id="dataSource" destroy-method="close" class="org.apache.commons.dbcp.BasicDataSource" lazy-init="false">
    <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
    <property name="url" value="jdbc:mysql://localhost:3306/excursion_organizer?characterEncoding=utf8"/>
    <property name="username" value="exorg"/>
    <property name="password" value=""/>
  </bean>
  
  <bean id="jdbcTemplate" class="org.springframework.jdbc.core.simple.SimpleJdbcTemplate" lazy-init="false">
    <constructor-arg ref="dataSource"/>
  </bean>

  <!-- Is it OK to initialize static members in such a way??? -->
  <bean id="searcher" class="eo.frontend.httpserver.InitJDBC">
    <constructor-arg ref="jdbcTemplate" />
  </bean>

  <bean id="serverDaemon" class="eo.frontend.httpserver.Main">
    <property name="interface" value="localhost:8080"/>

    <property name="handler">
      <bean class="org.eclipse.jetty.server.handler.HandlerCollection">
        <property name="handlers">
            <list>
              <bean class="eo.frontend.httpserver.POIService" />

              <bean class="eo.frontend.httpserver.RouteService" />

              <bean class="eo.frontend.httpserver.DynamicHandlerCollection">
                <property name="base" value="../../content"/>
                <property name="handlers">
                  <map>
                    <entry key="/test-poi.html">
                      <bean class="eo.frontend.httpserver.TestPOI"/>
                    </entry>

                    <entry key="/poi_types.html">
                      <bean class="eo.frontend.httpserver.POITypesHandler"/>
                    </entry>

                    <entry key="/type.html">
                      <bean class="eo.frontend.httpserver.POITypeHandler"/>
                    </entry>
                  </map>
                </property>
              </bean>

              <bean class="org.eclipse.jetty.server.handler.ResourceHandler">
                <property name="resourceBase" value="../../content"/>
              </bean>
            </list>
        </property>
      </bean>
    </property>
  </bean>
</beans>
