<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-autowire="byName">
  <bean id="serverDaemon" class="eo.frontend.httpserver.Main">
    <property name="interface" value="localhost:8080"/>

    <property name="handler">
      <bean class="eo.frontend.httpserver.POIService" />
    </property>
  </bean>
</beans>
