
#content{
	margin:0 0 0 251px; 
	border:1px solid #d2d2d2;
	border-right:0;
	height:300px;
	line-height:30px;
	background:#e6e6e6;
	text-align:left;
	min-height: 88%;/* expression(document.body.clientHeight - 110 + "px");*/
	width:auto;

	padding-bottom: 32767px;
	margin-bottom: -32767px;
}

#rightcolumn{
	float:left;
	width:0px;
	margin:0 0 0 -402px;
	background:#e1edbf;

	line-height:10px;
	border-top:1px solid #bed63a;
	border-bottom:1px solid #bed63a;
	border-left:1px solid #bed63a;

	padding-bottom: 32767px;
	margin-bottom: -32767px;
}
