<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd"
       default-autowire="byName">

    <context:property-placeholder location="../../custom.properties"/>

    <bean id="frontendServerDaemon" class="ru.exorg.core.server.Starter">
        <property name="interface" value="${frontend.httpserver.address}"/>
        <property name="handlers">
            <list>
                <bean class="ru.exorg.frontend.handler.RedirectHandler">
                    <property name="redirectionMap">
                        <map>
                            <entry key="/index.html" value="http://${backend.httpserver.address}/index.html"/>
                            <!--<entry key="/index.html" value="http://www.wikipedia.org"/>-->
                        </map>
                    </property>
                </bean>

                <bean class="org.eclipse.jetty.server.handler.DefaultHandler" />
            </list>
        </property>
    </bean>
</beans>

