<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd"
       default-autowire="byName">

    <context:property-placeholder location="../../custom.properties"/>

    <bean id="dataSource" destroy-method="close" class="org.apache.commons.dbcp.BasicDataSource" lazy-init="false">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate" lazy-init="false">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="singleYaletProcessor" class="net.sf.xfresh.core.DefaultSingleYaletProcessor" >
        <property name="yaletResolver" ref="yaletResolver"/>
        <property name="saxGenerator" ref="saxGenerator"/>
    </bean>

    <bean id="yaletProcessor" class="net.sf.xfresh.core.YaletProcessor2">
        <property name="encoding" value="utf-8"/>
        <property name="yaletSupport" ref="yaletSupport"/>
    </bean>

    <bean id="yaletSupport" class="net.sf.xfresh.core.DefaultYaletSupport">
        <property name="singleYaletProcessor" ref="singleYaletProcessor"/>
    </bean>

    <bean id="yaletResolver" class="net.sf.xfresh.core.SpringYaletResolver"/>

    <bean id="saxGenerator" class="net.sf.xfresh.core.DefaultSaxGenerator"/>

    <bean id = "recommendedRouteService" class="ru.exorg.backend.services.RecommendedRouteService">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>

    <bean id="poiService" class="ru.exorg.backend.services.PoiService"/>

    <bean id="poiTypeService" class="ru.exorg.backend.services.PoiTypeService"/>

    <bean id="routeService" class="ru.exorg.backend.services.RouteService">
        <property name="poiService" ref="poiService"/>
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>

    <bean id="readyroutesYalet" class="ru.exorg.backend.yalets.RecommendedRoutesYalet">
        <property name="recommendedRouteService" ref="recommendedRouteService"/>
    </bean>

    <bean id="routeYalet" class="ru.exorg.backend.yalets.RouteYalet">
        <property name="recommendedRouteService" ref="recommendedRouteService"/>
        <property name="routeService" ref="routeService"/>
        <property name="poiService" ref="poiService"/>
    </bean>

    <bean id="constructorYalet" class="ru.exorg.backend.yalets.ConstructorYalet">
        <property name="poiTypeService" ref="poiTypeService"/>
        <property name="poiService" ref="poiService"/>
    </bean>

    <bean id="constructor_frameYalet" class="ru.exorg.backend.yalets.ConstructorFrameYalet">
        <property name="poiService" ref="poiService"/>
    </bean>

    <bean id="poiYalet" class="ru.exorg.backend.yalets.PoiYalet">
        <property name="poiService" ref="poiService"/>
    </bean>

    <bean id="test1Yalet" class="ru.exorg.backend.yalets.SidDemo.TestSid1"/>
    <bean id="test2Yalet" class="ru.exorg.backend.yalets.SidDemo.TestSid2"/>

    <bean id="serverDaemon" class="ru.exorg.core.server.Starter">
        <property name="interface" value="${backend.httpserver.address}"/>
        <property name="handlers">
            <list>
                <bean class="org.eclipse.jetty.server.session.SessionHandler">
                    <property name="sessionManager">
                        <bean class="org.eclipse.jetty.server.session.HashSessionManager"/>
                    </property>

                    <property name="handler">
                        <bean class="org.eclipse.jetty.server.handler.HandlerCollection">
                            <property name="handlers">
                                <list>
                                    <!--
                                    <bean class="ru.exorg.backend.handler.DirectYaletHandler">
                                        <property name="yaletList">
                                            <value>readyroutes</value>
                                        </property>
                                    </bean>
                                    -->

                                    <bean class="ru.exorg.backend.handler.YaletHtmlPageHandler">
                                        <property name="yaletList">
                                            <list>
                                                <value>readyroutes</value>
                                                <value>route</value>
                                                <value>constructor</value>
                                                <value>constructor_frame</value>
                                                <value>poi</value>
                                                <value>test1</value>
                                                <value>test2</value>
                                            </list>
                                        </property>
                                    </bean>
                                </list>
                            </property>
                        </bean>
                    </property>
                </bean>

                <bean class="org.eclipse.jetty.server.handler.ResourceHandler">
                    <property name="resourceBase" value="../content"/>
                </bean>

                <bean class="org.eclipse.jetty.server.handler.DefaultHandler" />

            </list>
        </property>
    </bean>

</beans>
        <!-- Is it OK to initialize static members in such a way??? -->
        <!--
      <bean id="searcher" class="eo.frontend.httpserver.InitJDBC">
          <constructor-arg ref="jdbcTemplate" />
      </bean>

      <bean id="session_manager" class="eo.frontend.httpserver.SessionManager">
          <property name="conn" ref="jdbcTemplate" />
      </bean>
      -->



        <!--
<bean class="eo.frontend.httpserver.PoiService" />

<bean class="eo.frontend.httpserver.RouteService">
<property name="SM" ref="session_manager" />
</bean>

<bean class="eo.frontend.httpserver.DynamicHandlerCollection">
<property name="base" value="../content"/>
<property name="handlers">
<map>

    <entry key="/test-poi.html">
        <bean class="eo.frontend.httpserver.TestPOI"/>
    </entry>

    <entry key="/poi_types.html">
        <bean class="eo.frontend.httpserver.POITypesHandler"/>
    </entry>

    <entry key="/type.html">
        <bean class="eo.frontend.httpserver.POITypeHandler"/>
    </entry>

    <entry key="/index.html">
        <bean class="eo.frontend.httpserver.IndexHandler"/>
    </entry>

    <entry key="/route.html">
        <bean class="eo.frontend.httpserver.RouteHandler">
            <property name="SM" ref="session_manager"/>
        </bean>
    </entry>
    <entry key="/constructor.html">
        <bean class="eo.frontend.httpserver.ConstructorHandler" >

            <property name="SM" ref="session_manager"/>
        </bean>
    </entry>

</map>
</property>
</bean>

<bean class="org.eclipse.jetty.server.handler.ResourceHandler">
<property name="resourceBase" value="../content"/>
</bean>
        -->

