<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd"
       default-autowire="byName">

    <context:property-placeholder location="../../custom.properties"/>
    <!--Database configuration-->
    <bean id="dataSource" destroy-method="close" class="org.apache.commons.dbcp.BasicDataSource" lazy-init="false">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate" lazy-init="false">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="dataProvider" class="ru.exorg.core.service.DataProvider">
        <constructor-arg ref="jdbcTemplate"/>
    </bean>

    <bean id="miner" class="ru.exorg.miner.Main">
      <property name="miners">
        <list>
          <bean class="ru.exorg.miner.POIMiner">
            <property name="dataProvider" ref="dataProvider"/>
            <!--<property name="config" value="ilovepetersburg-ru-culture.cfg.xml;ilovepetersburg-ru-monuments.cfg.xml;imhotour-ru.cfg.xml"/>-->
            <property name="config" value="ilovepetersburg-ru-monuments.cfg.xml"/>
            <!--<property name="proxy" value="127.0.0.1:3128"/>-->
          </bean>

          <!--
          <bean class="eo.miner.CafeMiner">
            <property name="dataProvider" ref="dataProvider"/>
            <property name="config" value="imhotour-cafe.cfg.xml"/>
            <property name="proxy" value="127.0.0.1:3128"/>
          </bean>
          -->

          <!--
          <bean class="eo.miner.POIMiner">
            <property name="dataProvider" ref="dataProvider"/>
            <property name="config" value="ilovepetersburg-ru-culture.cfg.xml"/>
            <property name="proxy" value="127.0.0.1:3128"/>
          </bean>
          -->
        </list>
      </property>
  </bean>
</beans>
