<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-autowire="byName">
  <bean id="dataSource" destroy-method="close" class="org.apache.commons.dbcp.BasicDataSource" lazy-init="false">
    <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
    <property name="url" value="jdbc:mysql://localhost:3306/excursion_organizer?characterEncoding=utf8"/>
    <property name="username" value="root"/>
    <property name="password" value=""/>
  </bean>
  
  <bean id="jdbcTemplate" class="org.springframework.jdbc.core.simple.SimpleJdbcTemplate" lazy-init="false">
    <constructor-arg ref="dataSource"/>
  </bean>

  <bean id="poi" class="eo.common.POI">
    <constructor-arg ref="jdbcTemplate"/>
  </bean>

  <bean id="processingDaemon" class="eo.processing.Main">
    <constructor-arg ref="poi"/>
    <constructor-arg value="127.0.0.1:3128"/>
    <!--<constructor-arg value=""/>-->
  </bean>
</beans>
