<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-autowire="byName">
  <!--Database configuration-->
  <bean id="logger" class="eo.common.LoggerInit" />

  <bean id="dataSource" destroy-method="close" class="org.apache.commons.dbcp.BasicDataSource" lazy-init="false">
    <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
    <property name="url" value="jdbc:mysql://localhost:3306/excursion_organizer?characterEncoding=utf8"/>
    <property name="username" value="exorg"/>
    <property name="password" value=""/>
  </bean>
  
  <bean id="jdbcTemplate" class="org.springframework.jdbc.core.simple.SimpleJdbcTemplate" lazy-init="false">
    <constructor-arg ref="dataSource"/>
  </bean>

  <bean id="poi" class="eo.common.POI">
    <constructor-arg ref="jdbcTemplate"/>
  </bean>

  <bean id="miner" class="eo.miner.Main">
    <property name="POI" ref="poi"/>
    <property name="config" value="miner/config/imhotour-ru.cfg.xml"/>
    <!--<property name="proxy" value="192.168.0.2:3128"/>-->
    <constructor-arg value=""/>
  </bean>
</beans>
